{% extends "base.html" %} {% block content %}


<h2>{{page_title}}</h2>

<div class="row">
<p>New to Yummy?  <a href="{{ url_for('register') }}">Register here</a> </p>
</div>

<div class="row">
  <form
    class="col s12 m8 offset-m2"
    method="POST"
    action="{{ url_for('login') }}"
  >
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        minlength="4"
        maxlength="20"
        pattern="^[a-zA-Z0-9]{4,20}$"
        class="validate" required
        class="form-control"
        id="username" name="username" 
        aria-describedby="username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" 
      pattern="^[a-zA-Z0-9]{4,10}$"
      class="validate" required
      class="form-control" id="password" name="password" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
